<div th:fragment="div">
	<header role="banner">
		<img class="logo" src="/images/adm-icon.png">
		<h1> Painel de Administrador </h1>
		<ul class="utilities"> <br>
			<li class="logout warn"><a href=""> Sair da conta</a></li>
		</ul>
	</header>

	<nav role='navigation'>
		<ul class="main">
			<li class="write"><a href="adicionar-produto"> <span> Adicionar Produtos </span></a></li>
			<li class="edit"><a href="editar-produtos"> <span> Editar Produtos </span></a></li>
			<li class="users"><a href="modificar-usuarios"> <span> Modificar Usuários </span></a></li>
		</ul>
	</nav>
</div>