<div th:fragment="div">
	<header role="banner">
		<img class="logo" src="/images/adm-icon.png">
		<h1 id="painel"> Painel de Administrador </h1>
		<ul class="utilities"> <br>
			<li class="logout warn" id="sair"><a href="logout"> Sair da conta</a></li>
		</ul>
	</header>

	<nav role='navigation'>
		<ul class="main">
			<li class="write"><a href="/AKECY/ADM/cadastrar"> <span> Cadastrar </span></a></li>
			<li class="edit"><a href="/AKECY/ADM/modificar"> <span> Modificar </span></a></li>
			<li class="users"><a href="/AKECY/ADM/usuarios"> <span> Usuários </span></a></li>
			<li class="message"><a href="/AKECY/ADM/mensagens"><span>Mensagens </span></a></li>
		</ul>
	</nav>
</div>