<footer th:fragment="footer">
	<hr>
	<div class="container text-center text-md-start mt-5">
		<div class="row mt-3">
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="fw-bold mb-4"> AKECY </h6>
				<p>
					Somos apaixonados por esporte e acreditamos que o equipamento certo faz toda a diferença.
					Por isso, criamos um espaço dedicado a te conectar com os melhores produtos esportivos, de
					forma simples e direta.
				</p>
			</div>
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="fw-bold mb-4"> Fale conosco </h6>
				<p>
					Tem dúvidas, sugestões ou precisa de ajuda para encontrar o produto ideal? Estamos aqui para te
					atender! <a class="fale-conosco" href="/AKECY/fale-conosco"> Clique aqui </a> para enviar uma mensagem.
				</p>
			</div>
		</div>
	</div>
	<div class="text-center p-4 pt-3">
		© 2024 Todos os direitos reservados. AKECY
	</div>
</footer>