@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	background: #121212;
	font-family: 'Inter';
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #fafafa;
}

.logo {
	padding-left: 20px;
	padding-top: 12px;
}

header[role="banner"] {
	background: rgb(44, 44, 44);
	box-shadow: 1px 1px 3px rgba(62, 62, 62, 0.15);
}

header[role="banner"] h1 {
	position: absolute;
	top: -4px;
	left: 85px;
	font-weight: 300;
}

header[role="banner"] .utilities li a {
	padding: 0.7em;
	display: block;
	color: #fafafa;
}

.utilities a:before {
	content: "\f248";
	font-family: FontAwesome;
	padding-right: 0.6em;
}

.logout a:before {
	content: "";
}

nav[role="navigation"] {
	background: rgb(33, 33, 33);
	color: #ddd;
}

nav[role="navigation"] li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

nav[role="navigation"] li a {
	text-decoration: none;
	display: block;
	padding: 0.7em;
}

nav[role="navigation"] a span {
  color: #ffa600; 
}

nav[role="navigation"] .users a:before {
  content: "";
}

nav[role="navigation"] li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

nav[role="navigation"] li a:before {
	content: "\f248";
	font-family: FontAwesome;
	padding-right: 0.6em;
}

nav[role="navigation"] .write a:before {
	content: "";
}

nav[role="navigation"] .edit a:before {
	content: "";
}


nav[role="navigation"] .edit a:before {
	content: "";
}

nav[role="navigation"] .message a:before {
	content: "✉";
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 600px) {

	html,
	body {
		height: 100%;
	}

	header[role="banner"] {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		height: 75px;
	}

	header[role="banner"] .utilities {
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
		color: darkslategray;
		width: auto;
	}

	header[role="banner"] .utilities li {
		display: inline-block;
	}

	header[role="banner"] .utilities li a {
		padding: 0.5em 1em;
	}

	nav[role="navigation"] {
		position: fixed;
		width: 200px;
		top: 75px;
		bottom: 0px;
		left: 0px;
	}
}