.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgb(29, 29, 29);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	border-radius: 10px;
}

.cadastro {
	top: 55%;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fafafa;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fafafa;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fafafa;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fafafa;
	pointer-events: none;
	transition: .5s;
}

.login-box .user-box input:not(:placeholder-shown)~label,
.login-box .user-box input:focus~label {
	top: -20px;
	left: 0;
	color: #ffa600;
	font-size: 12px;
}

input[type=submit] {
	background-color: #ffa600;
	border: none;
	color: white;
	padding: 10px 90px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(255, 166, 0, 0.1);
	box-shadow: 0 10px 30px 0 rgba(255, 166, 0, 0.2);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 25px 20px 40px 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
	background-color: rgb(210, 137, 0);
}

input[type=submit]:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

#cadastrar {
	padding: 10px 76px;
}

#enviar-codigo {
	padding: 10px 59px;
}

#confirmar {
	padding: 10px 76px;
}

.mensagem {
	color: rgb(255, 181, 43);
	text-align: center;
}

.erro {
	color: rgb(255, 79, 79);
	text-align: center;
}

.mensagem-recuperar {
	color: rgb(255, 181, 43);
	text-align: center;
	position: absolute;
	top: 225px;
	left: 89px;
}

.erro-recuperar {
	color: rgb(255, 79, 79);
	text-align: center;
	position: absolute;
	top: 225px;
	left: 130px;
}

.erro-recuperar-confirmar {
	color: rgb(255, 79, 79);
	text-align: center;
	position: absolute;
	top: 245px;
	left: 80px;
}

.code {
	left: 100px;
}

p {
	color: rgb(215, 215, 215)
}

.baixo-botao {
	position: absolute;
	margin-top: -26px;
	padding-left: 60px;
}

.login {
	padding-left: 72px;
}

.esqueceu-senha {
	position: absolute;
	margin-top: -23px;
	padding-left: 135px;
}

.link {
	color: #fafafa;
	text-decoration: none;
}

.compensar-barra-de-rolagem {
	padding-right: 15px;
}

body.dark {
	background-color: #fafafa;
	color: #121212;
}

body.dark .login-box {
	background-color: #fafafa;
	color: #121212;
}

body.dark .login-box h2,
body.dark .login-box .user-box input,
body.dark .login-box .user-box label,
body.dark .link,
body.dark p {
	color: #121212;
}

body.dark .mensagemSenha,
body.dark .mensagemLogin {
	color: rgb(232, 151, 0)
}

body.dark input[type=submit]:hover {
	background-color: rgb(255, 181, 43);
}

body.dark .login-box .user-box input {
	border-bottom: 1px solid #121212;
}

body.dark .login-box .user-box input:valid~label {
	color: #ffa600;
}