footer {
    margin: 40px;
    color: #fafafa;
    font-weight: 500;
}

hr {
    margin-top: 50px;
    border-color: #fafafa;
}

.img-footer {
    width: 35px;
}

.fale-conosco {
    text-decoration: none;
    color: #ffa600;
}

body.dark footer {
    color: #121212;
}

body.dark hr {
	border-color: #121212;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}