<!DOCTYPE html>
<html>

<head>
	<title> ADM:AKECY - Cadastrar Cupom </title>
	<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/adm-body.css" />
	<link rel="stylesheet" href="/css/adm-cadastrar-cupom.css" />
</head>

<body>
	<div th:replace="~{fragments/adm :: div}"></div>
	<main>
		<form th:action="@{/AKECY/ADM/cadastrar-cupom}" th:object="${cupom}" method="post">

			<div class="box">
				<h1> Cadastrar Cupom </h1> <br> <br>
				<div class="user-box">
					<input title="Valor do desconto do produto" id="valor" oninput="formatarMoeda(this)" type="text"
						placeholder="ㅤ" required>
					<label> Desconto </label>
				</div>

				<input type="hidden" id="desconto" th:field="*{desconto}">

				<div class="user-box">
					<input title="Deixe vazio caso não tenha cashback" type="text" placeholder="ㅤ" maxlength="3"
						required th:field="*{cashback}" id="cashbackInput" oninput="formatarCashback(this)">
					<label> Cashback </label>
				</div>
				<input type="hidden" id="cashback" name="cashback" />


				<div class="user-box">
					<input title="PROMOCAO100" type="text" placeholder="ㅤ" maxlength="100" required
						th:field="*{codigo}">
					<label> Código </label>
				</div>
			</div>
			<input type="submit" value="Cadastrar Cupom">
		</form>
	</main>
	<script src="/js/adm-cadastrar-cupom.js"></script>
	<script src="/js/adm-formatar-moeda.js"></script>
</body>

</html>