<!DOCTYPE html>
<html>

<head>
	<title> ADM:AKECY - Cadastrar Cupom </title>
	<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/adm-body.css" />
	<link rel="stylesheet" href="/css/adm-cadastrar-cupom.css" />
</head>

<body>
	<div th:replace="~{fragments/adm :: div}"></div>
	<main>
		<form id="cupomForm" th:action="@{/AKECY/ADM/cadastrar-cupom}" th:object="${cupom}" method="post">

			<div class="box">
				<h1> Cadastrar Cupom </h1> <br> <br>
				<div class="user-box">
					<input title="Valor do desconto do produto" id="valor" oninput="formatarMoeda(this)" type="text"
						placeholder="ㅤ" required>
					<label> Desconto </label>
				</div>

				<input type="hidden" id="desconto" th:field="*{desconto}">

				<div class="user-box">
					<input title="Deixe vazio caso não tenha cashback" type="text" placeholder="ㅤ"
						oninput="formatarCashback(this)" maxlength="2" id="porcentagem">
					<label> Porcentagem de Cashback </label>
				</div>
				<input type="hidden" id="cashback" th:field="*{cashback}" />

				<div class="user-box">
					<input title=" (Ex.: Em produtos acima de R$ 499,99)" th:field="*{descricao}" required
						maxlength="50" type="text" placeholder="ㅤ">
					<label> Descrição </label>
				</div>

				<div class=" user-box">
					<input title="(Ex.: PROMOCAO100)" type="text" oninput="formatarCodigo(this)" placeholder="ㅤ"
						maxlength="20" required th:field="*{codigo}">
					<label> Código </label>
					<p id="error" class="erro" th:if="${serverError}" th:text="${serverError}"></p>
				</div>
			</div>
			<input type="submit" value="Cadastrar Cupom">
		</form>
	</main>
	<script src="/js/adm-formatar-cupom.js"></script>
</body>

</html>