<!DOCTYPE html>
<html>

<head>
	<title> ADM:AKECY - Modificar </title>
	<link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/adm-body.css" />
	<link rel="stylesheet" href="/css/adm-cadastrar-modificar.css" />
</head>

<body>
	<div th:replace="~{fragments/adm :: div}"></div>
	<main>
		<h2 class="destacado"> Escolha um item para modificar </h2>
		<a class="button esq" href="modificar-produto"> Produto </a>
		<a class="button dir" href="modificar-cupom"> Cupom </a>
	</main>
</body>

</html>